.list-header {
  margin: 1.5rem auto;
  margin-top: 3rem;
  width: 41rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-title {
  text-align: center;
  font-size: 2rem;
}
