@import "app/assets/stylesheets/colors";
@import "app/assets/stylesheets/mixins";

.torii-logo {
  height: calc(100vh - 11rem);
  padding-top: 8rem;
  background: color(orange);
  font-size: 3rem;
  display: flex;
  flex-direction: column;
  line-height: 5rem;
}

.torii-logo div:not(.torii-logo-bottom) {
  margin: 0 1rem;
}

.torii-logo-bottom {
  margin-top: 3rem;
  background: color(shadow, dark);
  width: 100%;
  height: 100%;
}

.torii-middle {
  width: 100%;

  .torii-middle-top {
    width: 4rem;
    height: 4rem;
    margin: auto;
    background: color(orange);
  }

  .torii-middle-connector {
    @include elevate(color(orange, dark));
    width: 100%;
    height: 3rem;
    background: color(orange);
    margin-bottom: 3rem;
  }
}

.torii-side {
  @include elevate(color(orange, dark));
  margin-top: 4rem;
  width: 6rem;
  height: 3rem;
  background: color(orange);
}

.choice-container {
  display: flex;
  justify-content: space-around;

  .choice-box {
    margin: 2rem 4rem;
  }
}
