@import "app/assets/stylesheets/colors";

.word {
  display: inline-block;
  font-size: 1.2rem;
}

.word-verb {
  color: #f44;
}

.word-noun {
  color: #27f;
}

.word-adjective {
  color: color(orange);
}

.word-adverb {
  color: #d0f;
}

.word-particle {
  color: color(gray);
}
