@import "app/assets/stylesheets/colors";

.word-list {
  display: flex;
  flex-wrap: wrap;
  margin: 1rem 6rem;
}

.word-label {
  text-align: center;
  font-size: 2rem;
}

.word-list-header {
  margin: 1.5rem auto;
  margin-top: 3rem;
  width: 41rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
