@import "app/assets/stylesheets/colors";

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsla(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;

  animation: 0.2s fade-in;
}

@keyframes fade-in {
  from {
    background: rgba(0, 0, 0, 0);
  }
  to {
    background: rgba(0, 0, 0, 0.7);
  }
}

.modal {
  position: relative;
  width: 20rem;
  background: #f0f0ea;
  border-radius: 0.3rem;
  box-shadow: 0 4px color(shadow, bright);
  animation: 0.2s grow-in;
}

@keyframes grow-in {
  from {
    transform: scale(0.5);
  }
  70% {
    transform: scale(1.1);
  }
  to {
    transform: scale(1);
  }
}

.hide-modal-button {
  margin: 0;
  width: 3rem;
  height: 3rem;
  position: absolute;
  border-radius: 0 0.3rem 0 0;
  top: 0;
  right: 0;
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-modal-button:hover {
  color: color(red, dark);
  background: rgba(0, 0, 0, 0.1);
}
