@import "app/assets/stylesheets/colors";
@import "app/assets/stylesheets/mixins";

.verb-conjugator {
  text-align: center;
  width: 32rem;
  margin: auto;
}

.verb-conjugator-table {
  margin: auto;
  margin-top: 2rem;
  border-spacing: 0.4rem;

  td {
    @include rounded();
    background: color(light, bright);
    padding: 0.2rem 0.4rem;
    line-height: 1.6rem;
  }

  td:first-of-type {
    background: color(light, dark);
  }

  tr:first-of-type {
    td {
      background: color(light, dark);
    }

    td:first-of-type {
      color: color(light);
    }
  }
}
