@import "app/assets/stylesheets/colors";
@import "app/assets/stylesheets/mixins";

.quiz {
  text-align: center;
  margin: 1rem;
}

.kana-quiz {
  outline: 0;
  height: calc(100vh - 5rem);
  padding: 1rem;
}

.quiz-start-button {
  font-size: 1.3rem;
  margin-top: 6rem;
  padding: 1.5rem;
}

.quiz-question {
  line-height: 2.5rem;
  font-size: 4rem;
  margin: 3rem;
}

.quiz-choice-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 14em;
}

.quiz-choice {
  @include elevate(color(orange, dark));
  @include rounded();
  background: color(orange);
  margin: 0.5rem;
  padding: 0.8rem 0;
  color: color(light, bright);
  width: 6rem;
  height: 6rem;
  font-size: 2rem;
}

.quiz-choice:active {
  box-shadow: 0 0 color(orange, dark);
  bottom: 0px;
  transition: bottom 0s, box-shadow 0s;
}

.quiz-choice-incorrect {
  @include elevate(color(red, dark));
  background: color(red);
}

.quiz-choice-incorrect:active {
  box-shadow: 0 0 color(red, dark);
}

.quiz-choice-correct {
  @include elevate(color(green, dark));
  background: color(green);
}

.quiz-choice-correct:active {
  box-shadow: 0 0 color(green, dark);
}

.finish-section {
  display: flex;
  justify-content: center;
}
