@import "app/assets/stylesheets/colors";

.header {
  background: color(orange);
  box-shadow: 0 4px color(orange, dark);
  height: 3em;
  margin: 0;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  a,
  a:hover {
    color: color(light, bright);
  }
}

.left-header {
  height: 100%;
  width: 32rem;
  margin: 0;
  display: flex;
  align-items: baseline;
}

.right-header {
  height: 100%;
  margin: 0;
  display: flex;
}

.nav-button {
  font-size: 1.2rem;
  color: color(light, bright);
  padding: 0 1.5rem;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-button.selected {
  background: color(orange, dark);
}

.logo-kanji {
  color: color(shadow);
}

.logo {
  height: 100%;
  margin: 0;
  padding: 0 1rem;
  color: color(light, bright);
  font-size: 1.6em;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.profile-dropdown-spacer {
  margin: 0 1.5rem;
  display: flex;
  align-items: center;
}

.profile-dropdown {
  width: 10rem;
  padding: 0.25rem;
  background: color(orange, dark);
  color: color(light, bright);
  border-radius: 0.3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.sign-in-box {
  width: 10rem;
  padding: 0.25rem;
  background: color(orange, dark);
  color: color(light, bright);
  border-radius: 0.3rem;
  text-align: center;
  cursor: pointer;
}

.profile-dropdown a {
  color: color(light, bright);
}

.dropdown-arrow {
  color: color(light, bright);
  background: color(orange);
  border-radius: 0.3rem;
  width: 1.6rem;
  height: 1.6rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-image {
  background: color(orange);
  border-radius: 0.3rem;
  width: 1.6rem;
  height: 1.6rem;
}
