@import "app/assets/stylesheets/colors";
@import "app/assets/stylesheets/mixins";

.loading-screen {
  @include rounded();
  height: 100%;
  width: 100%;
  background: color(light, dark);
  font-size: 3rem;
  color: color(shadow, dark);
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  animation: 2s spinning infinite;
}

@keyframes spinning {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
