@import "app/assets/stylesheets/colors";
@import "app/assets/stylesheets/mixins";

.info-section {
  width: 14rem;
  margin: auto;
  text-align: left;
}

.info-section-label {
  @include rounded-top();
  display: inline-block;
  background: color(light, dark);
  font-weight: bold;
  padding: 0rem 0.4rem;
  padding-top: 0.2rem;
  margin-top: 0.6rem;
}

.info-section-body {
  background: color(light, dark);
  border-radius: 0 $radius $radius $radius;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  min-height: 1rem;
  padding: 0.4rem;
}

.yomi-section {
  display: flex;
  flex-wrap: wrap;
}

%yomi {
  @include rounded();
  color: color(light, bright);
  font-size: 0.9rem;
  line-height: 0.9rem;
  padding: 0.3rem;
  margin: 0.2rem;
}

.kunyomi {
  @extend %yomi;
  background: rgb(0, 143, 229);
}

.okurigana {
  color: rgba(255, 255, 255, 0.5);
}

.kunyomi-uncommon {
  background: rgba(0, 143, 229, 0.5);
}

// yellow: rgb(253, 197, 19)
.onyomi {
  @extend %yomi;
  background: rgb(226, 84, 63);
}

.onyomi-uncommon {
  background: rgba(226, 84, 63, 0.5);
}
