@import "app/assets/stylesheets/colors";

.hoverbox {
  position: absolute;
  z-index: 999;
  background: color(light, bright);
  border-radius: 0.3rem;
  padding: 0.5rem;
  box-shadow: 0 0 2px 1px #00000060;
}
