@import "app/assets/stylesheets/colors";
@import "app/assets/stylesheets/mixins";

.character-block {
  @include rounded();
  position: relative;
  background: color(light, bright);
  color: color(shadow);
  width: 2rem;
  margin: 0.4rem;
  padding: 8px;

  &:not(.locked) {
    @include lift-on-hover(color(light, dark));
  }

  &.locked {
    background: color(light, dark);

    h2 {
      color: color(light);
    }
  }

  &.disabled {
    background: color(light, bright);

    h2 {
      color: color(shadow);
    }
  }
}

.character-title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}
