@import "app/assets/stylesheets/colors";
@import "app/assets/stylesheets/mixins";

.kana-show {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 1rem;
}

.kana-show-table {
  margin: 1rem;
  border-spacing: 0 0.4rem;
  width: 20rem;

  td {
    background: color(light, bright);
    line-height: 1.6rem;
    width: 6rem;
    padding: 0.2rem 0.4rem;
  }

  td:first-of-type {
    @include rounded-left();
    text-align: right;
  }

  td:last-of-type {
    @include rounded-right();
    background: color(light, dark);
    text-align: left;
  }
}

.kana-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 1rem;
  width: 16rem;
}

.fa-angle-left,
.fa-angle-right {
  margin: 3rem;
  color: color(orange);
  font-size: 3rem;
  cursor: pointer;
}

.kana-character-block {
  @include rounded();
  font-size: 5rem;
  width: 8rem;
  height: 8rem;
  background: color(light, bright);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;
}

.character-blocks {
  display: flex;
  justify-content: center;
  margin: 0.6rem;
}
