@import "app/assets/stylesheets/colors";

.kana-show {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character-header {
  margin: 1rem 0;
  font-size: 5rem;
}

.kana-show-table {
  margin: auto;
  border-spacing: 0 0.4rem;

  td {
    background: color(light, bright);
    line-height: 1.6rem;
    width: 6rem;
    padding: 0.2rem 0.4rem;
  }

  td:first-of-type {
    text-align: right;
    border-radius: 0.3rem 0 0 0.3rem;
  }

  td:last-of-type {
    background: color(light, dark);
    text-align: left;
    border-radius: 0 0.3rem 0.3rem 0;
  }
}

.kana-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 1rem;
}

.fa-angle-left,
.fa-angle-right {
  margin: 3rem;
  color: color(orange);
  font-size: 3rem;
  cursor: pointer;
}
