@import "app/assets/stylesheets/colors";

.home {
  text-align: center;
  display: flex;
}

ul {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline;
  font-size: 1.2rem;
}

.home-block {
  margin: 0 20rem;
  text-align: center;
}

.shadow-title {
  font-weight: normal;
  color: color(light, dark);
}
