@import "app/assets/stylesheets/colors";
@import "app/assets/stylesheets/mixins";

.kana-list {
  width: 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
}

.blank-block {
  @include rounded();
  background: color(light, dark);
  margin: 0.4rem;
}

.filters {
  margin: 1rem;
  text-align: center;
}

.filter {
  margin: 1rem;
}
