@import "app/assets/stylesheets/colors";

.kana-textbox {
  input {
    margin: 0.5rem;
  }
}

.kana-textbox-jp {
  width: 100%;
  padding: 0.4rem;
  height: 1.5rem;
  background: color(light, dark);
  border-radius: 0.3rem;
  margin: 0.5rem;
  margin-top: 0;
}
