@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);

$main-font: "Varela Round";
$japanese-font: "Rounded Mplus 1c";

@import "colors";
@import "button";
@import "kana-list";
@import "header";
@import "kana-quiz";
@import "home";
@import "quiz-progress-bar";
@import "kana-show";
@import "flashcard";
@import "progress-bar";
@import "modal";
@import "text-input";
@import "login-modal";
@import "checkbox";
@import "loader";
@import "kana-index";
@import "kanji-index";
@import "radio-button";
@import "kanji-show";
@import "kanji-list";

body {
  background: #f0f0ea;
  color: #34495e;
  padding: 0;
  margin: 0;
  font-family: $main-font, $japanese-font;
}

#app {
  min-height: 100vh;
}

p {
  line-height: 1.6rem;
}

a {
  color: #f60;
  text-decoration: none;
}

h1, h2, h3, h4, h5 {
  font-weight: normal;
}

h2 {
  color: #34495e;
}

.kana-textbox {
  input {
    margin: 0.5rem;
  }
}

.kana-textbox-jp {
  width: 100%;
  padding: 0.4rem;
  height: 1.5rem;
  background: color(light, dark);
  border-radius: 0.3rem;
  margin: 0.5rem;
  margin-top: 0;
}

.verb-conjugator {
  text-align: center;
  width: 32rem;
  margin: auto;
}