@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/earlyaccess/roundedmplus1c.css);

$main-font: "Varela Round";
$japanese-font: "Rounded Mplus 1c";

@import "colors";
@import "button";
@import "text-input";
@import "checkbox";

body {
  background: color(light);
  color: color(shadow);
  padding: 0;
  margin: 0;
  font-family: $main-font, $japanese-font;
}

#app {
  min-height: 100vh;
}

p {
  line-height: 1.6rem;
}

a {
  color: color(orange, dark);
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: normal;
}

h2 {
  color: color(shadow);
}
