@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/ubuntu.css);

@import "colors";
@import "button";
@import "kana-index";
@import "header";
@import "kana-quiz";
@import "home";
@import "quiz-progress-bar";
@import "kana-show";
@import "flashcard";

body {
  background: #f0f0ea;
  color: #34495e;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Noto Sans Japanese";
}

p {
  line-height: 1.6rem;
}

a {
  color: #f60;
  text-decoration: none;
}

h2 {
  color: #34495e;
}
