@import url(https://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
@import url(https://fonts.googleapis.com/css?family=Ubuntu);

@import "colors";
@import "button";
@import "kana-list";
@import "header";
@import "kana-quiz";
@import "home";
@import "quiz-progress-bar";
@import "kana-show";
@import "flashcard";
@import "progress-bar";
@import "modal";
@import "text-input";
@import "login-modal";
@import "checkbox";

body {
  background: #f0f0ea;
  color: #34495e;
  padding: 0;
  margin: 0;
  font-family: "Ubuntu", "Noto Sans Japanese";
}

p {
  line-height: 1.6rem;
}

a {
  color: #f60;
  text-decoration: none;
}

h2 {
  color: #34495e;
}
