@import "mixins";
@import "constants";

button {
  @include clickable(color(orange, dark));
  @include rounded($button-radius);
  font-family: $main-font, $japanese-font;
  background: color(orange);
  color: color(light, bright);
  border: none;
  user-select: none;
  position: relative;
  font-size: 1em;
  padding: 0.6em 1em;
  margin: 0.5em 1em;
  text-align: center;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

button.green {
  @include clickable(color(green, dark));
  background: color(green);
}

button.yellow {
  @include clickable(color(yellow, dark));
  background: color(yellow);
}
