@import "mixins";
@import "constants";

button {
  @include elevate(color(orange, dark));
  @include rounded($button-radius);
  font-family: $main-font, $japanese-font;
  background: color(orange);
  color: color(light, bright);
  border: none;
  user-select: none;
  position: relative;
  font-size: 1em;
  padding: 0.6em 1em;
  margin: 0.5em 1em;
  text-align: center;
  cursor: pointer;
  bottom: 4px;
  transition: bottom 0.2s, box-shadow 0.2s;

  &:active {
    @include flatten(color(orange, dark));
    bottom: 0px;
    transition: bottom 0s, box-shadow 0s;
  }

  &:focus {
    outline: none;
  }
}

button.green {
  @include elevate(color(green, dark));
  background: color(green);

  &:active {
    @include flatten(color(green, dark));
  }
}

button.yellow {
  @include elevate(color(yellow, dark));
  background: color(yellow);

  &:active {
    @include flatten(color(yellow, dark));
  }
}
