@function color($name, $variant: neutral) {
  $color: map-get($color-map, $name);
  @return map-get($color, $variant);
}

$color-map: (
  red: (
    bright: white,
    neutral: #e74c3c,
    dark: #c0392b
  ),
  orange: (
    bright: white,
    neutral: #f80,
    dark: #f60
  ),
  yellow: (
    bright: white,
    neutral: #f1c40f,
    dark: #f39c12
  ),
  green: (
    bright: white,
    neutral: #2ecc71,
    dark: #27ae60
  ),
  blue: (
    bright: white,
    neutral: #3498db,
    dark: #2980b9
  ),
  violet: (
    bright: white,
    neutral: #9b59b6,
    dark: #8e44ad
  ),
  light: (
    bright: #ffffff,
    neutral: #f0f0e8,
    dark: #e0e0d8
  ),
  gray: (
    bright: white,
    neutral: #999,
    dark: black
  ),
  shadow: (
    bright: white,
    neutral: #34495e,
    dark: #2c3e50
  )
);
