.home {
  text-align: center;
  /*margin: auto;*/
  /*width: 100%;*/
  margin: 0 3rem;
  display: flex;
  justify-content: space-between;
}

ul {
  margin: 0;
  margin-bottom: 2rem;
  padding: 0;
}

li {
  list-style-type: none;
  display: inline;
}

.strike {
  text-decoration: line-through;
}

.home-block {
  margin: 0 3rem;
}

.daily-kanji .character-block {
  margin: 1rem auto;
  margin-top: 3rem;
}

.shadow-title {
  font-weight: normal;
  color: #ccc;
}
