.kana-list {
  width: 0;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(5, 1fr);
  justify-content: center;
}

.kana-list-header {
  margin: 1.5rem auto;
  margin-top: 3rem;
  width: 41rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blank-block {
  border-radius: 0.3rem;
  background: color(light, dark);
  margin: 0.4rem;
}

.language-buttons {
  display: flex;
  justify-content: center;
}

.character-block {
  background: color(light, light);
  color: color(dark);
  border-top: 5px solid rgba(0, 0, 0, 0);
  border-radius: 0.3rem;
  //box-shadow: 0 4px color(light, dark);
  width: 2rem;
  margin: 0.4rem;
  padding: 8px;
  padding-top: 3px; //5 pixels less to account for border-top
}

.locked {
  background: color(light, dark);

  h2 {
    color: color(light);
  }
}

.character-title {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
}

.kana-alternatives {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.kana-alternative {
  display: flex;
  align-items: center;
  height: 26px;
  text-align: center;
  color: color(light, light);
  background: color(blue);
  border-radius: 0.3rem;
  padding: 0 0.3rem;
  margin: 0.1rem;
}

.filters {
  margin: 1rem;
  text-align: center;
}

.filter {
  margin: 1rem;
}

.kana-label {
  text-align: center;
  //margin: 1rem;
  font-size: 2rem;
}
