.quiz {
  text-align: center;
  margin: 1rem;
}

.kana-quiz {
  outline: 0;
  height: calc(100vh - 5rem);
  padding: 1rem;
}

.quiz-start-button {
  font-size: 1.3rem;
  margin-top: 6rem;
  padding: 1.5rem;
}

.quiz-question {
  line-height: 2.5rem;
  font-size: 4rem;
  margin: 3rem;
}

.quiz-choice-container {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 14em;
}

.quiz-choice {
  background: #f80;
  margin: 0.5rem;
  padding: 0.8rem 0rem;
  border-radius: 0.3rem;
  box-shadow: 0 4px #f60;
  color: white;
  width: 6rem;
  height: 6rem;
  font-size: 2rem;
}

.quiz-choice:active {
  box-shadow: 0px 0px #f60;
  bottom: 0px;
  transition: bottom 0s, box-shadow 0s;
}

.quiz-choice-incorrect {
  background: color(red);
  box-shadow: 0 4px color(red, dark);
}

.quiz-choice-incorrect:active {
  box-shadow: 0 0 color(red, dark);
}

.quiz-choice-correct {
  background: color(green);
  box-shadow: 0 4px color(green, dark);
}

.quiz-choice-correct:active {
  box-shadow: 0 0 color(green, dark);
}

.finish-section {
  display: flex;
  justify-content: center;
}
