.kana-list {
  margin: 1em;
  display: flex;
  flex-wrap: wrap;
}

.kana-block {
  background: color(light, light);
  color: color(dark);
  border-radius: 0.3rem;
  box-shadow: 0 4px color(light, dark);
  width: 6em;
  margin: 1em;
  padding: 1em;
}

.kana-title {
  text-align: center;
  font-size: 2rem;
}

.kana-alternatives {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.kana-alternative {
  display: flex;
  align-items: center;
  height: 26px;
  text-align: center;
  color: color(light, light);
  background: color(blue);
  border-radius: 0.3rem;
  padding: 0 0.3rem;
  margin: 0.1rem;
}
