.kana-show {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.character-header {
  margin: 1rem 0;
  //margin-top: 2rem;
  //margin-bottom: 1rem;
  font-size: 5rem;
}

table {
  margin: auto;
  border-spacing: 0 0.4rem;
}

td {
  margin-right: 1rem;
  background: white;
  line-height: 1.6rem;
  width: 6rem;
  padding: 0.2rem 0.6rem;
}

td:first-of-type {
  text-align: right;
  border-radius: 0.3rem 0 0 0.3rem;
}

td:last-of-type {
  background: #e0e0d8;
  text-align: left;
  border-radius: 0 0.3rem 0.3rem 0;
}

.kana-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  margin: 1rem;
}

.fa-angle-left, .fa-angle-right {
  margin: 3rem;
  color: #f80;
  font-size: 3rem;
  cursor: pointer;
}
