.yomi-section {
  display: flex;
  flex-wrap: wrap;
  padding: 0.2rem;
}

.kunyomi {
  color: white;
  line-height: 1rem;
  border-radius: 0.3rem;
  background: color(blue, dark);
  padding: 0.2rem;
  margin: 0.1rem;
}

.okurigana {
  color: rgba(255, 255, 255, 0.5);
}

.kunyomi-uncommon {
  background: rgba(52, 152, 219, 0.25);
}

.onyomi {
  color: white;
  line-height: 1rem;
  border-radius: 0.3rem;
  background: color(yellow);
  padding: 0.2rem;
  margin: 0.1rem;
}
