.login-modal {
  //padding: 1rem;
  text-align: center;
}

.login-modal h1 {
  margin: 0;
}

.login-modal-header {
  font-size: 1.4rem;
  background: color(light, dark);
  border-radius: 0.3rem 0.3rem 0 0;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-modal-body {
  padding: 1rem;
}

.login-modal fieldset {
  width: calc(100% - 2rem);
  margin-bottom: 1rem;
  padding: 0;
  border: none;
  display: grid;
  grid-template-columns: 1fr 8fr;
  //flex-direction: column;
}

.login-buttons {
  display: flex;
  justify-content: space-around;
}
