.login-modal {
  padding: 1rem;
  text-align: center;
}

.login-modal h1 {
  margin: 0;
}

.login-modal fieldset {
  width: calc(100% - 2rem);
  margin: 0;
  padding: 0;
  border: none;
  display: grid;
  grid-template-columns: 1fr 8fr;
  //flex-direction: column;
}

.login-buttons {
  margin-top: 2rem;
  display: flex;
}
