@import "constants";

@mixin elevate($color) {
  box-shadow: 0 4px $color;
}

@mixin flatten($color) {
  box-shadow: 0 0 $color;
}

@mixin depress($color) {
  box-shadow: inset 0 4px $color;
}

@mixin rounded($rad: $radius) {
  border-radius: $rad;
}

@mixin rounded-top() {
  border-radius: $radius $radius 0 0;
}

@mixin rounded-bottom() {
  border-radius: 0 0 $radius $radius;
}

@mixin rounded-right() {
  border-radius: 0 $radius $radius 0;
}

@mixin rounded-left() {
  border-radius: $radius 0 0 $radius;
}

@mixin color-band-top($color) {
  border-top: 5px solid $color;
}
