@import "constants";

@mixin elevate($color) {
  box-shadow: 0 4px $color;
}

@mixin flatten($color) {
  box-shadow: 0 0 $color;
}

@mixin depress($color) {
  box-shadow: inset 0 4px $color;
}

@mixin rounded($rad: $radius) {
  border-radius: $rad;
}

@mixin rounded-top() {
  border-radius: $radius $radius 0 0;
}

@mixin rounded-bottom() {
  border-radius: 0 0 $radius $radius;
}

@mixin rounded-right() {
  border-radius: 0 $radius $radius 0;
}

@mixin rounded-left() {
  border-radius: $radius 0 0 $radius;
}

@mixin color-band-top($color) {
  border-top: 5px solid $color;
}

@mixin lift-on-hover($color) {
  transition: box-shadow 0.2s, bottom 0.2s;
  @include flatten(color(light, dark));
  bottom: 0px;

  &:hover {
    @include elevate(color(light, dark));
    bottom: 4px;
  }

  &:active {
    @include flatten(color(light, dark));
    bottom: 0px;
  }
}

@mixin clickable($shadow-color) {
  @include elevate($shadow-color);
  transition: bottom 0.2s, box-shadow 0.2s;
  bottom: 4px;

  &:active {
    @include flatten($shadow-color);
    transition: bottom 0s, box-shadow 0s;
    bottom: 0px;
  }
}
