.progress-bar {
  display: flex;
  height: 2rem;
  margin: 1rem;
  justify-content: center;

  div {
    border: 2px solid rgba(0, 0, 0, 0);
  }

  .correct {
    background: color(green);
  }

  .incorrect {
    background: color(red);
  }

  .selected {
    border-color: color(shadow, dark);
  }
}

.progress-block {
  background: color(light, dark);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 0.3rem;
  margin: 0.2rem;
}
