.radio-horizontal {
  user-select: none;
}

input[type="radio"] {
  display: none;
}

.radio-horizontal > label {
  border-left: 1px solid color(orange, dark);
}

.radio-horizontal > label:first-of-type {
  border-radius: 0.3rem 0em 0em 0.3rem;
  border-left: none;
}

.radio-horizontal > label:last-of-type {
  border-radius: 0em 0.3rem 0.3rem 0em;
}

input[type="radio"] + label {
  cursor: pointer;
  position: relative;
  background: color(orange);
  box-shadow: 0 4px color(orange, dark);
  color: color(light, bright);
  font-size: 1em;
  padding: 0.5em 1em;
  bottom: 4px;
  margin: 0em;
  transition: bottom 0.2s, box-shadow 0.2s, color 0.2s;
}

input[type="radio"]:checked + label {
  background: color(orange, dark);
  color: color(light, bright);
  box-shadow: 0 0 color(orange, dark);
  bottom: 0em;
}

input[type="radio"]:checked + label:not(:last-of-type) {
  border-right: 1px solid color(orange, dark);
}

// remove dark line on the left side of the next button of the one pressed
input[type="radio"]:checked + label + input + label {
  border-left: none;
}
