@import "app/assets/stylesheets/colors";
@import "app/assets/stylesheets/mixins";

.progress-bar-background {
  @include rounded();
  margin: 2rem auto 0 auto;
  background: color(light, dark);
  width: 14rem;
  height: 1rem;
}

.progress-bar-background div {
  @include rounded();
  height: 100%;
  transition: width 0.5s, background-color 0.5s;
}
