@import "app/assets/stylesheets/colors";
@import "app/assets/stylesheets/mixins";

.progress-bar-background {
  @include rounded();
  display: flex;
  margin: 0 auto;
  background: color(light, dark);
  width: 100%;

  &.multi {
    height: 0.2rem;
  }

  &:not(.multi) {
    width: 14rem;
    height: 1rem;
  }

  div {
    @include rounded();
    height: 100%;
    transition: width 0.5s, background-color 0.5s;
  }

  &.multi div {
    border-radius: 0;

    &:first-of-type {
      @include rounded-left();
    }

    &:last-of-type {
      @include rounded-right();
    }

    &:first-of-type:last-of-type {
      @include rounded();
    }
  }
}
