@import "app/assets/stylesheets/colors";
@import "app/assets/stylesheets/mixins";

.nav-dropdown {
  @include rounded-bottom();
  position: absolute;
  background: color(orange);
  z-index: 999;
  min-width: 8rem;
  box-shadow: 0px 4px color(orange, dark), 0px 5px 5px 1px #00000040;
}

.nav-dropdown-selection {
  border-top: 1px solid color(orange, dark);
  padding: 0.8em;
}

a:hover .nav-dropdown-selection {
  background: color(orange, dark);
}
