@import "app/assets/stylesheets/colors";
@import "app/assets/stylesheets/mixins";

.word-block {
  @include rounded();
  background: color(light, bright);
  color: color(shadow);
  margin: 0.4rem;
  padding: 8px;
}

.locked {
  background: color(light, dark);

  h2 {
    color: color(light);
  }
}

.word-block-text {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.2rem;
  margin: 0;
}
